* {
  box-sizing: border-box;
  margin: 4;
  padding: 0;
  font-family: 'Graphik LCG Web', sans-serif;
}

body {
  background: radial-gradient(79.97% 124.8% at 80.57% 44.85%, rgba(43, 212, 219, 0.243) 0%, rgba(43, 212, 219, 0) 100%), rgb(12, 17, 66);
}
